@use "sass:map";
@import "./colors";

@font-face {
    font-family: pokemon-font;
    src: url("../../resources/font/PKMN-Mystery-Dungeon.ttf");

}

:root {
    font-family: pokemon-font;
}

.dark-theme {
    // Text
    --text: #{map.get($text, "dark", "normal")};
    --text-accent: #{map.get($text, "dark", "accent")};
    --text-muted: #{map.get($text, "dark", "muted")};

    // Background
    --background-primary: #424C5A;
    --background-primary-alt: #343C47;
    --background-secondary: #373841;
    --background-secondary-alt: #4B4B4B;

    --border-primary: #546072;
}

// .light-theme {}