@use "sass:map";
@import "./colors";

.dark-theme {
    // Text
    --text: map.get($text, "dark", "normal");
    --text-accent: map.get($text, "dark", "accent");
    --text-muted: map.get($text, "dark", "muted");


    // Background
    --background-primary: ;
    --background-primary-alt: ;
    --background-secondary: ;
    --background-secondary-alt: ;
    --background-gradient: ;

}

// .light-theme {}