.dark-theme {
    // Text
    --text: ;
    --text-accent: ;
    --text-accent-alt: ;
    --text-muted: ;
    --text-muted-alt: ;

    // Background
    --background-primary: ;
    --background-primary-alt: ;
    --background-secondary: ;
    --background-secondary-alt: ;
    --background-gradient: ;

}

// .light-theme {}