.pokemon-total-stats {
    width: 35px;
    height: 30px;

    box-sizing: border-box;

    border: 2px solid gray;
    border-radius: 4px;

    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}