@import "../../abstract/theme";

.poke-search {
    margin: 50px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    .poke-search-input {
        font-family: pokemon-font;
        height: 40px;
        
        width: 80%;
        max-width: 500px;
        
        padding: 5px 10px;
        

        border-radius: 16px;
        border: 2px solid var(--border-regular);

        &:focus-visible {
            outline: 0px;
        }
    }
}