.poke-search {
    margin: 50px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    .poke-search-input {
        height: 40px;
        
        width: 80%;
        max-width: 500px;
        
        padding: 5px 10px;

        // Cambiare font-size una volta impostata la tipografia
        font-size: 16px;

        border-radius: 16px;
        // cambiare il colore una volta impostato i colori del tema
        border: 1px solid green;

        &:focus-visible {
            outline: 0px;
        }
    }
}