.poke-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border: 1px solid gray;
    

    width: 60%;
    

    .poke-index {

    }

    .poke-types {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }

    .poke-pokemon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}